@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Press Start 2P', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	background-color: #10120E;
	color: white;
	flex-direction: column;
	text-align: center;
	justify-content: space-between
}
h1{

	padding: 10px;
	font-size: 20px
}p{
	color: #FF133D;
	opacity: 0;
	font-size: 9px;
}

/*no time h1*/
.opacidad{
	animation-name: opacidad;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-delay: 5s;
}

/*aguja y nombre*/
.fondo{
	animation-name: fondo;
	animation-duration: 5s;
	animation-fill-mode: both;
	animation-iteration-count: ;
	animation-delay: 6s;
	opacity: 0
}
@keyframes fondo{
	from{
		color: #FF1300;
		opacity: 0;
	}
	to{
		opacity: #FF1300;
		opacity: 1
	}
}

@keyframes opacidad{
	from{
		opacity: 0
	}
	to{
		opacity: 1
	}
}
/*excusa 1 y 2*/
.excusa1{
	animation-name: aparece;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	
}
.retraso{
	animation-delay: 3s;
}
.retraso2{
	animation-delay: 6s;
}
@keyframes aparece{
	from{
		opacity: 0
	}
	to{
		opacity: 1
	}
}

.segundoP{
	opacity: 1;
	font-size: 7px;
	color: dimgrey;
}
.punto{
	animation-delay: 6s;
}
img{
	width: 20px;
	margin-top: 0px;
	transition: .2s;
}
img:hover{
	transform: scale(1.4)
}